<header class="shadow-md px-4 sm:px-10 bg-white font-sans min-h-[70px]">
  <div class="flex flex-wrap items-center justify-between gap-4">
    <a class="flex items-center">
      <button routerLink="/dashboard">
        <img
          src="https://t3.ftcdn.net/jpg/06/91/25/90/240_F_691259018_TXeLV96J9dscbOuMLIyGdr3b5UMeycf8.jpg"
          alt="logo"
          class="w-36 h-16"
        />
      </button>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="lg:invisible">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/dashboard" routerLinkActive="active">
          <mat-icon style="color: #0369a1">home</mat-icon>
          <span>Home</span>
        </button>
        <button
          mat-menu-item
          routerLink="/favorite-recipe"
          routerLinkActive="active"
        >
          <mat-icon style="color: red">favorite</mat-icon>
          <span>Favourite</span>
        </button>
      </mat-menu>
    </a>
    <div class="flex items-center max-sm:ml-auto lg:order-1">
      <div class="lg:flex lg:flex-1 lg:justify-end">
        @if(isLogin){
        <a
          class="text-sm font-semibold leading-6 text-white bg-sky-700 p-1 cursor-pointer rounded-md"
          (click)="doLogOut()"
          >Log Out</a
        >
        }@else{
        <a
          class="text-sm font-semibold leading-6 text-white bg-sky-700 p-1 rounded-md"
          routerLink="/"
          >Log in</a
        >
        }
      </div>
    </div>
    <ul
      id="collapseMenu"
      class="lg:!flex lg:space-x-4 max-lg:space-y-2 max-lg:hidden max-lg:w-full"
    >
      <li class="max-lg:border-b max-lg:py-2 px-3">
        <a
          class="hover:text-[#007bff] text-[#007bff] font-bold block text-[15px] cursor-pointer"
          routerLink="/dashboard"
          routerLinkActive="active-link"
          >Home</a
        >
      </li>
      <li class="max-lg:border-b max-lg:py-2 px-3">
        <a
          class="hover:text-[#007bff] text-gray-600 font-bold block text-[15px] cursor-pointer"
          routerLink="/favorite-recipe"
          routerLinkActive="active-link"
          >Favorite</a
        >
      </li>
    </ul>
  </div>
</header>
