<div class="mb-5">
  <div class="group relative">
    <div
      class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64"
    >
      <img
        [src]="recipe.image"
        class="h-full w-full object-cover object-center"
      />
    </div>
    <button
      (click)="favoriteRecipes()"
      matTooltip="Accent"
      color="accent"
      class="favoriteFab cursor-pointer"
    >
      <mat-icon
        class="cursor-pointer text-3xl favoriteIcon"
        [ngStyle]="{ color: isFavorite ? 'red' : 'white' }"
        >favorite</mat-icon
      >
    </button>
    <h3 class="mt-6 text-sm text-gray-500 text-center h-10 mb-4">
      <a>
        <!-- <span class="absolute inset-0"></span> -->
        Recipe Type :- {{ recipe.RecipeType }}
      </a>
    </h3>
    <p class="text-base text-center mt-1 font-semibold text-gray-900">
      Author :- {{ recipe.createdBy }}
    </p>
    <!-- <p class="text-base text-center mt-1 font-semibold text-gray-900">
      createdBy :- {{ recipe.createdBy }}
    </p> -->
  </div>
  <div class="flex gap-2 h-16">
    <button
      class="mt-6 flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-1 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 w-full text-nowrap"
      (click)="view()"
    >
      View Recipe
    </button>
  </div>
</div>
